/* .containerCard {
      margin: 100px 0 40px 0;
      display: flex;
      justify-content: center;
}

.containerCard .card img {
      max-width: 250px;
}

.containerCard .card {
      width: 250px !important;

}
 */
/* 
@media screen and (max-width: 1150px) {
      .containerCard {
            display: table;
            margin: 0 auto;
      }
} */

.customDevelopersContainer .row {
      margin-right: 0px !important;
}