i {
    margin-top: 10px;
    padding: 0 5px;
  }
  
  .CustomNav {
    margin-left: 0 !important ;
  }

.CustomCartZ a {
  display: inline !important;
}

.customContents {
  display: contents
}

.customContents button {
  border: 0;
  background-color: transparent;
  margin-top: 4px;
}