@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.titlecard{
    color: rgb(151, 46, 90);
    margin-left: 1.7em;
    padding-top: 1em;
    font-family: "Times New Roman", Times, serif !important;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 3.125em 0;
    font-family: 'Zen Antique Soft', serif;
}

.card {
    width: 24%;
    margin: 1em;
    text-align: center;
    border-radius: 10px;
    padding-top: 0.6em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transform: translate(0, -0.5em);
}

.card img {
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.card p{
    text-align: center;
    color: #b2bec3;
    padding: 0 0.5em;
}

.card h6 {
    font-size: 1.5em;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.card h6::after {
    content: "$";
}

.add-to-cart-button {
    text-align: center;
    font-size: 1.5em;
    color: rgb(133, 129, 129);
    color: rgb(85, 22, 22);
    font-weight: bold;
    width: 100%;
    padding: 1em;
    border: 0px;
    outline: none;
    cursor: pointer;
    margin-top: 0.45em;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card a {
    all: unset !important;
}

/* tablet */
@media(max-width: 1000px) {
    .card {
        width: 46%;
    }
}

/* phone */

@media(max-width: 750px) {
    .card {
        width: 100%;
    }
}