.YouTubeFullDiv * {

    box-sizing: border-box;
}

.YouTubeFullDiv {
    margin: 8rem 0 10rem 0;
    
}

.YouAPI {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* box-shadow: 0 0 3px ##adadad; */
    /*margin: 0 auto;*/
    /*margin-top: 3rem;*/
}



.VideoContainer {
    display: inline-block;
    margin: 1rem;
  

}
.VideoContainer iframe {
    display: inline-block;
    margin: 1rem;
    width: 40em;
    height: 30em;
  

}
h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    /*font-size: 15rem;*/
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}
h1 em {
    font-style: normal;
    font-weight: 600;
}
/*******************************************************************************************/
.six h1 {
    text-align: center;
    font-size:3rem;
    font-weight:400;
    text-transform: uppercase;
    word-spacing: 0.3rem;
    letter-spacing:0.2rem;
    color:#FF7F50;
    font-family: 'Sriracha', cursive;
}
.six h1 span {
    line-height:2em; padding-bottom:15px;
    text-transform: none;
    font-size:.7em;
    font-weight: normal;
    font-style: italic; font-family: 'Sriracha', cursive;
    color:#999; letter-spacing:-0.005em; word-spacing:1px;

    /*letter-spacing:none;*/
}
.six h1:after, .six h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5rem;
    height: 0.4rem;
    content: "";
    right: 5rem;
    margin:auto;
    background-color: #ccc;
}
.six h1:before {
    background-color:#FF7F50;
    right: 0.5rem; width: 9rem;
}

/************************************************************************************************************/
@media (max-width : 900px) {
    .VideoContainer {
        /*display: inline-block;*/
        display: flex;
        flex-direction: column;
        margin: 1em auto;
        padding-left: 0rem;

    }
}